			* {
				margin: 0;
				padding: 0;
			}
			.while {
				border-bottom: 0.3rem solid #FCF8E3;
			}
			
			.text {
				line-height: 5rem;
				background: #FFA500;
				color: #FFFFFF;
				font-size: 2.5rem;
				text-align: center;
			}
			
			.info {
				line-height: 5rem;
				background: #E6E6E6;
				text-align: right;
			}
			
			.user {
				line-height: 2rem;
				padding: 0 5rem;
				border: none;
				background: #E6E6E6;
				outline-style: none;
				border-left: 0.2rem solid #AAAAAA;
				border-right: 0.2rem solid #AAAAAA;
				color: red;
			}
			
			.closed {
				padding: 0 2rem;
				border: none;
				outline-style: none;
				background: #E6E6E6;
				position: relative!important;
				top: 5px!important;
				font-size: 2rem;
			}
			
			.menu {
				border: 0.1rem solid #FFFFFF!important;
				background-color: #FFA500!important;
			}
			
			.menu span {
				background: #FFFFFF;
			}
			
			.sidebar {
				background: #FFA500!important;
				margin-bottom: -2000px;
				padding-bottom: 2000px;
			}
			
			.sidebar ul {
				width: 80%;
				float: right;
				background: #FFA500;
				margin-top: 2rem;
			}
			
			.nav li {
				float: none;
				width: 100%;
			}
			
			.nav li a {
				text-align: center;
				color: #000000;
				font-size: 2rem;
			}
			
			.nav li a b {
				position: relative;
				right: 0;
			}
			
			.pencil {
				float: left;
				line-height: .5rem;
				padding-left: .1rem;
				color: red;
				font-size: 1.8rem;
				position: relative;
				top: 20px!important;
				left: -5rem;
			}
			
			.context {
				background: FFA500!important;
				width: 100%!important;
			}
			
			.welcome {
				background: #F5F5F5;
				padding-bottom: 2000px;
				font-size: 4rem;
				padding-top: 2rem;
			}
			
			.column {
				background: #E6E6E6;
				padding-top: 3rem;
			}
			
			.navbar-nav .open .dropdown-menu {
				position: static;
				float: none;
			}
			
			.search {
				border: 0.1rem solid #ffffff;
				padding: 2rem 1rem;
				margin-bottom: 3rem;
				background: #FFFFFF;
				width: 100%;
			}
			
			.dump {
				width: 8rem;
				height: 4rem;
				background: red;
				border: none;
				color: #FFFFFF;
				border-radius: 1rem;
				outline-style: none;
			}
			
			.hunt-for {
				border-radius: 1rem;
				color: #FFFFFF;
				width: 8rem;
				height: 4rem;
				margin-left: 5rem;
				background: #0000FF;
				border: none;
				outline-style: none;
			}
			
			.search td {
				line-height: 4rem!important;
			}
			
			.search .but {
				width: 5rem;
				height: 3rem;
				margin-left: 5rem;
				border: none;
				color: #FFFFFF;
				border-radius: 1rem;
				outline-style: none;
				float: right;
				background: red;
				font-size: 1.5rem;
			}
			
			.search caption {
				font-size: 2rem;
			}
			
			.reverse {
				overflow: hidden;
			}
			
			.bot {
				border-bottom: 1px solid #DDDDDD
			}
			
			.coping {
				padding: 0 1.5rem;
				margin-top: 4rem;
			}
			
			.nosecone {
				border: 0.1rem solid #AAAAAA;
				padding: 1rem 2rem;
				background: #f5f5f5;
			}
			
			.content {
				width: 100%;
				border-left: 0.1rem solid #AAAAAA;
				border-right: 0.1rem solid #AAAAAA;
				border-bottom: 0.1rem solid #AAAAAA;
				background: #FFFFFF;
				padding-bottom: 10rem;
				padding-top: 2rem;
			}
			
			.content strong {
				width: 15%;
				display: inline-block;
				text-align: right;
				margin-right: 2rem;
				float: left;
				margin-top: 0.8rem;
			}
			
			.content input {
				width: 68%;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				border: 1px solid #ccc;
				border-radius: 0.3rem;
			}
			
			.long {
				width: 20%!important;
				margin-bottom: 2rem;
			}
			
			.content span {
				margin-right: 2.8rem;
			}
			
			.file {
				position: relative;
				display: inline-block;
				background: #D0EEFF;
				border: 1px solid #99D3F5;
				border-radius: 4px;
				padding: 4px 12px;
				overflow: hidden;
				color: #1E88C7;
				text-decoration: none;
				text-indent: 0;
				line-height: 20px;
			}
			
			.file input {
				position: absolute;
				font-size: 100px;
				right: 0;
				top: 0;
				opacity: 0;
			}
			
			.file:hover {
				background: #AADFFD;
				border-color: #78C3F3;
				color: #004974;
				text-decoration: none;
			}
			
			.word {
				margin-left: 21rem;
				margin-bottom: 1rem;
			}
			
			.designation {
				width: 70%!important;
				margin: auto;
				height: 2rem;
				border-bottom: 0.1rem solid #AAAAAA;
			}
			
			.designation li {
				list-style: none;
				float: left;
				margin-left: 10rem;
				text-align: center;
				font-weight: 700;
			}
			
			.bon {
				padding: 6px 12px;
				background: #5cb85c;
				border: none;
				color: #FFFFFF;
				margin-top: 5rem;
			}
			
			.left-but {
				margin-left: 15%;
			}
			
			.right-but {
				background: #FFFFFF;
				color: #000000;
				border: 0.1rem solid #ccc;
				float: right;
				margin-right: 15%;
			}
			
			.search th {
				text-align: center;
			}
			
			.search td {
				text-align: center;
			}
			
			.left-sp {
				margin-right: 2.8rem;
			}
			
			.shows {
				text-align: right;
			}
			
			.shows input {
				width: 4.5rem!important;
			}
			@media only screen and (max-width:768px) {
				.sidebar {
					background: #FFA500!important;
					margin-bottom: 0!important;
					padding-bottom: 0!important;
				}
				.navbar-collapse.in {
					overflow-y: inherit!important;
				}
			}