<div class="col-md-9 column" xmlns="http://www.w3.org/1999/html">
	<form class="form-horizontal ng-invalid ng-invalid-required ng-dirty ng-valid-parse"  name="myForm"  style="padding-bottom: 25rem;">
		<div class="coping">
			<div class="nosecone">
				<strong>新增Article</strong>
			</div>
			<div class="content">
				<strong>标题名称</strong>
				<input type="text"  class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.title"><br />
                <div class="reveal" style="width:100%; margin-bottom: 2rem;height: 3.5rem">
				<strong><span>类</span>型</strong>
				<select  class="form-control long ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.type"
						 ng-options="option.value as option.showText for option in
                            [{value:'',showText:'请选择'},{value:0,showText:'首页banner'},{value:1,showText:'找职位banner'},
                            {value:2,showText:'找精英banner'},{value:3,showText:'行业大图'}
                            ]">
			    </select>
					<select class="form-control lose ng-pristine ng-untouched ng-scope ng-invalid ng-invalid-required" id="lose" ng-model="data.industry" ng-if="data.type==3"
							ng-options="option.value as option.showText for option in
                            [{value:'',showText:'请选择'},{value:0,showText:'移动互联网'},{value:1,showText:'电子商务'},
                            {value:2,showText:'企业服务'},{value:3,showText:'O2O'},
                            {value:4,showText:'教育'},{value:5,showText:'金融'},
                            {value:6,showText:'游戏'}]">
				</select>
                </div>
                <div class="col-lg-12" style="padding: 0;">
                <strong style="float: left">说&#12288&#12288明</strong>
                        <div rich-text ng-model="data.content" style=" width: 68%; float: right; margin-right: 15%; margin-bottom: 20px"></div>
                </div>
				<!--<input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="data.content"><br />-->
				<strong>跳转链接</strong>
				<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="data.url"><br />
				<strong>配&#12288&#12288图</strong>
				<button  class="btn btn-primary" ng-class="{'bg-bbbbbb':imgDisabled}" style="width:85px; margin-top:-3px; height:30px; position: relative;"
						 img-upload is-show="isShow">
				</button>
				<div class="word">配图浏览</div>
				<img style="margin-left: 20%; width: 50%; margin-bottom: 20px" ng-if="receivedId" ng-src="{{data.img}}">
				<div class="show" style="padding-left: 17%;" >
					<img ng-src="{{data.img}}" ng-show="thumb.imgSrc"   style="width: 500px;margin-top: 20px;margin-bottom: 20px"/>
				</div>
				<ul class="designation">
					<li style="">图片名</li>
					<li>文件大小</li>
					<li>进度</li>
					<li>操作</li>
					<li>操作{{all}}</li>
				</ul>
				<ul class="designa lihe" ng-show="isShow">
					<li style="line-height: 3rem" ng-model="fileName">{{fileName}}</li>
					<li>{{size&&(size/1024/1024|limitTo:4)+'mb'}}</li>
                        <li>
							<progress id="Progress" ng-value="a"  max="100" value="0"></progress>
						</li>
					<li>
						<a data-ng-bind="ishide" style="font-size: 20px; color: #000000">

						</a>
					</li>
					<li>
						<button style="background: #4cae4c" id="upLoadBtn"  ng-click="saveClick()"  ng-class="{'bg-bbbbbb':submitDisabled}">
							<span class="glyphicon glyphicon-upload operate	"></span>
							上传
						</button>
						<button style="background: red" ng-click="toggle()">
							<span class="glyphicon glyphicon-trash operate"></span>
							删除
						</button>
					</li>
				</ul>
				<div class="referring">
				<button type="button" class="btn bon left-but" id="upLoadBtn" disabled="disabled"
						ng-disabled="!data.img||!data.url||!data.title||!data.type&&data.type!==0||data.type==3&&!data.industry&&data.type===''"
						ng-click="addArticl(2)"
				>立即上线</button>
				<button type="button" disabled="disabled" class="btn bon"
						ng-disabled="!data.img||!data.url||!data.title||!data.type&&data.type!==0||data.type==3&&!data.industry&&data.type===''"ng-click="addArticl(1)"
				>存为草稿</button>
				</div>
				<a ui-sref="success.article"><button class="bon right-but" >取消</button></a>
			</div>
		</div>
	</form>
</div>

