<!--Article列表-->

<div class="col-md-9 column">
    <form class="form-horizontal" role="form">
        <fieldset class="search">
            <div class="form-group">
                <label class="col-md-1 control-label"  for="ds_host">发布时间</label>
                <div class="col-md-3">
                    <input  type="text"  ng-model="pickerParams.startAt" class="date-picker form-control" id="datatimeo">
                </div>
                <label class="col-md-1 control-label">更新时间</label>
                <div class="col-md-3">
                    <input type="text" class="date-picker form-control"  ng-model="pickerParams.endAt" id="datatimeo">
                </div>
                <label class="col-md-1 control-label">类型</label>
                <div class="col-md-3">
                    <select id="disabledSelect" ng-model="params.type" class="form-control">
                        <option >全部</option>
                        <option value="1">首页Banner</option>
                        <option value="2">找职位Banner</option>
                        <option value="3">找精英Banner</option>
                        <option value="4">行业大图</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label" for="ds_password"><span class="left-sp">状</span>态</label>
                <div class="col-md-3">
                    <select id="disabledSelect" ng-model="params.status" class="form-control">
                        <option>全部</option>
                        <option value="1">草搞</option>
                        <option value="2">上线</option>
                    </select>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <button class="dump" ng-click="searching()">清空</button>
                    <button class="hunt-for" ng-click="search()">搜索</button>
                </div>
            </div>
        </fieldset>
        <fieldset class="search" style="padding-bottom: 21%">
            <table class="table table-condensed">
                <caption>Article列表
                    <a ui-sref="success.add">
                        <button class="but">新增</button>
                    </a>
                </caption>
                <thead>
                <tr>
                    <th>iD</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>发布时间</th>
                    <th>修改时间</th>
                    <th>类发布者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bot" ng-repeat="self in demoLists">
                    <td>{{$index+1}}</td>
                    <td>{{self.title}}</td>
                    <td>{{self.type|type}}</td>
                    <td>{{self.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>{{self.updateAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>{{self.author}}</td>
                    <td>{{self.status |status}}</td>
                    <td>
                        <a>上架</a>
                        <a>编辑</a>
                        <a>删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="float: right">
                <a class="step" style="background: #FFFFFF;border: none;">每页显示
                    <input type="text" style="width: 30px;text-align: center;height: 24px;" value="{{size}}"/>条
                    <a class="step prevLink" ng-click="prevPage()">上一页</a>
                    <a ng-class="{true:'currentStep',false:'step'}[num==currentPage]" ng-repeat="num in pageNum"
                       ng-click="setPage(num)">{{num}}</a>  <!-- ng-repeat 动态生成页码 -->
                    <a class="step nextLink" ng-click="nextPage()">下一页</a>
                    <span class="step" style="background: #FFFFFF;border: none;">跳转到
                    <input type="text" ng-model="num" style="width: 30px; text-align: center;height: 24px;"
                           value="{{}}"/>页<button ng-click="setPage(num)">确定</button>
                </span>
            </div>

        </fieldset>

</form>
</div>
<script type="text/javascript">
    $('.date-picker').datepicker({
        language: 'zh-CN',
        autoclose: true,
        todayHighlight: true
    })
</script>
